body {
	background: #5CC3FA;
	margin: 0;
	padding: 0;
	font: 20px arial, sans-serif;
}
.students-container {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    border: 4px solid black;
    width: 587px;
}
.s-head {
	background: #a2a2a2;
	border-bottom: 4px solid black;
}
.s-row {
	background: white;
	border-bottom: 1px solid black;
	cursor: pointer;
}
.s-row:hover {
	background: #ccc;
}
.s-head:after, .s-row:after {
	content: " ";
    display: block; 
    height: 0; 
    clear: both;
}
.s-col {
	float: left;
	padding: 10px;
	background: inherit;
	width: 175px;
	border-right: 1px solid black;
	overflow: auto;
	box-sizing: border-box;
}
.s-col-right {
	border: none;
    width: 236px;
}
.loader-container, .empty-container {
	text-align: center;
	background: white;
	width: inherit;
	margin: 0 auto;
}
.empty-container {
	display: none;
	cursor: pointer;
}
